*{
  margin: 0;
  padding: 0;
}

nav{
  background-color: rgb(11, 11, 75);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 0px 10px;
}

#widgetIcon {
  width: 30px;
  color: white;
}

#saludo{
  text-align: center;
}

.secciones{
  display: flex;
  gap: 5px;
}

.secciones button{
  width: 100px;
}

nav h3{
  flex: 1;
}

nav div{
  text-align: end;
  flex: 1;
}


